---

---
<div class="allll">
<hr>
<div class="all">

<div class="left">
<h1>Downlaod for free</h1>

</div>

<div class="right">
<div class="one"><img src="/official-nova-icon 2.png" alt=""></div>

<img src="/official-nova-icon 2.png" alt="">

</div>

</div>
<hr>
</div>

<style>
h1 {

    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
		font-size: 18px;
        margin: 0px;
        font-weight: 400;
}

h2 {
    font-family: 'Charter';
    font-size: 20px;
    margin: 0px;
}

hr {

    border-top: 1px solid #f1f1f1;

}

.left {
    display: flex;
    align-items: first baseline;
    gap: 5px;
    margin: 0px;
}

.right {
    display: flex;
    gap: 10px;

}

img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.all {
    padding: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allll {
    padding: 0px 33px 0px 33px;
}
</style>