---
const today = new Date();


---

<!--if (!post) return Astro.redirect("/404"); -->
<footer>
	<hr>
	<div class="detail"> <div class="hook">hook</div><div class="copy">&copy;</div>{today.getFullYear()} Hook Techologies, Inc.</div>
	<hr class="light">
	<div class="links">
		<div class="ins">
		<a href="/404">Terms</a>
		<a href="/404">Privacy</a>
		<a href="/blog">Blog</a>
		<a href="/404">About</a>
		<a href="/leadership">Leadership</a>
		<a href="/404">Careers</a>
		<a href="/404">Help</a>
		<a href="/404">Partnership</a>
	</div>
		<div class="sublinks">
		<div class="findus">
<h2>Find Us</h2>
<div class="contents">
<a href="https://www.instagram.com/byhookcorporation/">Instagram</a>
<a href="">LinkedIn</a>
<a href="">Twitter</a>
<a href="">Nova</a>
<a href="">Magazine</a>
		</div>
	</div>

		<div class="contact">
<h2>Contact</h2>
<div class="contents">
<a href="">support@hookcorporation.com</a>
<a href="">support@hookcorporation.com</a>
		</div>
	</div>
	</div>
</div>
</footer>
<style>
	
	.sublinks {
		display: flex;
		gap: 10%;
	}

	.links {

  width: 100%;


  text-align: left



	}

	hr {
		width: 100%;
		height: 1px;
		background-color: rgb(207, 207, 207);
	}

	.light {
		background-color: rgb(241, 241, 241)
	}


	.findus {
		margin-bottom: 100px;
	}

	.contents {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		row-gap: 10px;
		width: 300px;

	}

	a{
		text-decoration: none;
	}


	.ins {

display: flex;
gap: 2%;
margin-bottom: 50px;

	}
	footer {
		padding: 33px;

		font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
		font-size: 12px;
		background-color: rgb(246, 246, 246);

	}

	@media (max-width: 810px) {

		footer {
			display: flex;
			flex-wrap: wrap;
		}
		.sublinks {
			display: flex;
			flex-wrap: wrap;
		}
		.contents {
			
		}
		.ins {
			display: flex;
			flex-wrap: wrap;
		}
		.detail {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.findus {

	}
	h2{
		font-size: 20px;
		font-weight: 600;
	}
	.detail {
		
display: flex;
color: gray;
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
font-size: 12px;
align-items: baseline;	


}

	.copy {
		font-size: 10px;
	}

	.hook {
		margin: 0;
		font-size: 16px;
		font-family: 'Charter';
		font-weight: 600;
		margin-right: 5px

	}

	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
