---




const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {}>
	<slot />
</a>


<style>
	a {
		padding: 3px 15px 3px 15px;
		display: inline-block;		
		font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
		animation: all 0.3s ease 0s;
		text-decoration: none;
		font-size: 15px;
		color: black;
		font-weight: 500;

	}
	
	a.active {
		background-color: rgb(241, 241, 241);
		border-radius: 5px;
	}
</style>
